/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.jfx-button{
	-fx-background-color: #0288D1;
	-fx-text-fill: white;
}
.jfx-button:hover{
	-fx-background-color: #4CAF50;
}