.Button {
  
  -fx-background-color: 
        #a6b5c9,
        linear-gradient(#303842 0.0%, #3e5577 20.0%, #375074 100.0%),
        linear-gradient(#768aa5 0.0%, #849cbb 5.0%, #5877a2 50.0%, #486a9a 51.0%, #4a6c9b 100.0%);
    -fx-background-insets: 0.0 0.0 -1.0 0.0,0.0,1.0;
    -fx-background-radius: 5.0,5.0,4.0;
    -fx-padding: 7.0 30.0 7.0 30.0;
    -fx-text-fill: #242d35;
   
    -fx-text-fill: white;
}
.Button:hover {
    -fx-background-color: 
        #707070,
        linear-gradient(#fcfcfc, #f3f3f3),
        linear-gradient(#f2f2f2 0.0%, #ebebeb 49.0%, #dddddd 50.0%, #cfcfcf 100.0%);
    -fx-background-insets: 0.0,1.0,2.0;
    -fx-background-radius: 3.0,2.0,1.0;
    -fx-padding: 3.0 30.0 3.0 30.0;
    -fx-text-fill: black;
    -fx-font-size: 10.0px;

   }
.Button:active {
   -fx-border-top-color: #aaffff;
   -fx-background: #C0CA33;
   }
  